
{{- $page := . }}

{{- if gt $page.Paginator.TotalPages 1 }}
<div class="w3-center">
<div class="w3-container w3-card-4  w3-padding w3-margin-bottom w3-margin-top">
    {{- partial "inline/pagination/default.html" $page }}
  </div>
</div>
{{- end }}

{{- define "_partials/inline/pagination/default.html" }}
  {{- with .Paginator }}
    {{- $currentPageNumber := .PageNumber }}

    {{- with .First }}
      {{- if ne $currentPageNumber .PageNumber }}
        <a href="{{ .URL }}" class="w3-bar-item w3-button" role="button"><span>&laquo;&laquo;</span></a>
      {{- else }}
        <a class="w3-bar-item w3-button w3-disabled" role="button" tabindex="-1"><span>&laquo;&laquo;</span></a>
      {{- end }}
    {{- end }}

    {{- with .Prev }}
        <a href="{{ .URL }}" class="w3-bar-item w3-button" role="button"><span>&laquo;</span></a>
    {{- else }}
        <a class="w3-bar-item w3-button w3-disabled" role="button" tabindex="-1"><span>&laquo;</span></a>
    {{- end }}

    {{- $slots := 5 }}
    {{- $start := math.Max 1 (sub .PageNumber (math.Floor (div $slots 2))) }}
    {{- $end := math.Min .TotalPages (sub (add $start $slots) 1) }}
    {{- if lt (add (sub $end $start) 1) $slots }}
      {{- $start = math.Max 1 (add (sub $end $slots) 1) }}
    {{- end }}

    {{- range $k := seq $start $end }}
      {{- if eq $.Paginator.PageNumber $k }}
        <a class="w3-bar-item w3-button" role="button">{{ $k }}</a>
      {{- else }}
        <a href="{{ (index $.Paginator.Pagers (sub $k 1)).URL }}" class="w3-bar-item w3-button" role="button">{{ $k }}</a>
      {{- end }}
    {{- end }}

    {{- with .Next }}
        <a href="{{ .URL }}" class="w3-bar-item w3-button" role="button"><span>&raquo;</span></a>
    {{- else }}
        <a class="w3-bar-item w3-button w3-disabled" role="button" tabindex="-1"><span>&raquo;</span></a>
    {{- end }}

    {{- with .Last }}
      {{- if ne $currentPageNumber .PageNumber }}
        <a href="{{ .URL }}" class="w3-bar-item w3-button" role="button"><span>&raquo;&raquo;</span></a>
      {{- else }}
        <a class="w3-bar-item w3-button w3-disabled" role="button" tabindex="-1"><span>&raquo;&raquo;</span></a>
      {{- end }}
    {{- end }}
  {{- end }}
{{- end -}}

