<div class="w3-margin-bottom">
<div class="w3-bar w3-teal" role="tablist">
{{ $activeTabClasses := "w3-disabled w3-light-grey"}}
{{ range $certification_group := .Site.Data.certifications }}
  <button class="w3-bar-item w3-button tablink {{$activeTabClasses}}" onclick="openCertificationGroup(event, '{{ .name }}')"><i class="{{ .icon }}"></i> {{ .name }}</button>
{{ $activeTabClasses = ""}}
{{ end }}
</div>

{{ $display := "block"}}
{{ range $certification_group := .Site.Data.certifications }}
<div id="certification-group:{{ .name }}" class="certification-group" style="display:{{ $display }};" role="tabpanel">
{{ $display = "none"}}
<table class="w3-table w3-bordered w3-hoverable w3-white">
{{ range $certification := .certifications }}
{{ if ne $certification.href "" }}
    <tr class="w3-card">
        <td style="width:100px;">
            <a href="{{ $certification.href }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ $certification.src }}" alt="{{ $certification.title }}" style="height:50px;">
            </a>
        </td>
        <td style="vertical-align: middle;">
            <a href="{{ $certification.href }}" target="_blank" rel="noopener noreferrer">
            <span class="w3-large">{{ $certification.title }}</span>
            </a>
        </td>
    </tr>
{{ else }}
    <tr class="w3-card w3-hover-none">
        <td>
            <img src="{{ $certification.src }}" alt="{{ $certification.title }}" style="height:50px;">
        </td>
        <td style="vertical-align: middle;">
            <span class="w3-large">{{ $certification.title }}</span>
        </td>
    </tr>
{{ end }}
{{ end }}
</table>
</div>
{{ end }}
</div>

<script>
function openCertificationGroup(event, groupName) {
  const activeElementClass = "w3-disabled w3-light-grey";
  for (const element of document.getElementsByClassName("certification-group")) {
    if (element.id !== `certification-group:${groupName}`) {
        element.style.display = "none";
    }
  }
  for (const tablink of document.getElementsByClassName("tablink")) {
    tablink.className = tablink.className.replace(activeElementClass, "");
  }
  document.getElementById("certification-group:" + groupName).style.display = "block";
  event.currentTarget.className += " " + activeElementClass;
}
</script>