{{- $emojis := dict
  "caution" "fa-solid fa-exclamation"
  "important" "fa-solid fa-circle-exclamation"
  "note" "fa-solid fa-circle-info"
  "tip" "fa-regular fa-lightbulb"
  "warning" "fa-solid fa-triangle-exclamation"
-}}
{{- $color := dict
  "caution" "red"
  "important" "yellow"
  "note" "blue"
  "tip" "green"
  "warning" "orange"
-}}
<div class="w3-panel w3-leftbar w3-border-{{ index $color .AlertType }}">
    <p class="alert-heading w3-text-{{ index $color .AlertType }}"><i class="{{ index $emojis .AlertType }}"></i>
    {{ with .AlertTitle }}
    {{ . }}
    {{ else }}
    {{ or (i18n .AlertType) (title .AlertType) }}
    {{ end }}</p>
  <p>{{ .Text }}</p>
</div>