/* inspired by W3.CSS color themes */

.light-theme,
.light-theme:hover
{
    color: #000000 !important; 
    background-color: #fff !important;
}

.light-theme-hover:hover
{
    color: #000000 !important;
    background-color: #ccc !important;
}


.dark-theme,
.dark-theme:hover {
    color: #ffffff !important;
    background-color: #000000 !important;
}
.dark-theme-hover:hover {
    color: #ffffff;
    background-color: #333;
}