<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
{{ partial "head.html" . }}
</head>
<body class="light-theme">
{{ partial "navigation.html" (dict "menuID" "main" "page" .) }}

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">


<!-- The Grid -->
  <div class="w3-row-padding">

  
    <!-- Left Column -->
    <div class="w3-third">
      {{ partial "sidebar.html" . }}
    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card-4">
        {{ partial "breadcrumbs.html" . }}
        {{ block "main" . }}{{ end }}
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

    {{ partial "footer.html" . }}
</body>
</html>
