{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ $paginator := .Paginate .Pages }}
<table class="w3-table w3-bordered w3-hoverable">
  {{ range $paginator.Pages }}
    <tr class="w3-card">
        <td style="vertical-align: middle;">
            <h4><a href="{{ .RelPermalink }}">
            {{ .Title }}</a>
            </h2>
      <p>{{ .Summary }}<br/>
        
        {{ .Date | time.Format ":date_long" }}</p>
        </td>
    </tr>
  {{ end }}
</table>
{{ partial "pagination.html" . }}
{{ end }}
